*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.title{
    height: 5vh;
    background-color: #107c41;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar{
    background-color: #107c41;
    height: 5vh;
    display: flex;
    /* gap: 30px; */
    align-items: center;

}
.menu-bar-item{
   display: flex;
   height: 5vh;
   align-items: center;
   justify-content: center;
    color: white;
    padding: 0 20px;
    
}

.menu-bar-item:hover{
    cursor: pointer;
    background-color:#025a2a;

}
.menu-bar-selected{
    color: #107c41;
    background-color: white;
}
.menu-bar-item.menu-bar-selected:hover{
    background-color: white;
    cursor: default;
}
.menu-icon-bar{
    display: flex;
    align-items: center;
    height: 5vh;
   background-color: rgb(241 241 241 );
    
}

#font-family{
    width: 150px;
    height: 80%;
    font-size: 18px;
    font-weight: 300;
    outline-color: #107c41;
    
}

#font-size{
    width: 50px;
    height: 80%;
    outline-color: #107c41;
}
#font-family option{
    font-size: 18px;
    font-weight: 300;
    
}

.material-symbols-outlined{
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    background-color: lightgray;
}

.data-container{
    overflow: visible;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    
}
.select-all-cell{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(6, 51, 254);
    
}
.col-name-container{
    overflow: hidden;
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid black;   
    display: flex; 
    
}
.row-name-container{
    overflow: hidden;
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid rgb(192, 36, 36);
   
}
.input-cell-container{
    overflow: scroll;
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid blue;
    
  
}
.sheet-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 100vw;
}
.scroller{
    display: flex;
    align-items: center;
    
    padding: 0 10px;
}
.scroller span{
    font-size: 30px;
}
.add_circle{
    background-color: #107c41;
    color: white;
    padding: 0 10px;
}
.sheet-tab-container{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    margin-left: 10px;
}
.sheet-tab{
    width: 70px;
    height: 90%;
    border: 2px solid #107c41;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}
.sheet-tab:hover{
    cursor: pointer;
}

.col-name{
   min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
}
.row-name{
    min-height: 30px;
    width: 100%;
    border-bottom:1px solid lightgray ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-row{
    display: flex;
}
.input-cell{
    /* outline-color: #107c41; */
   min-width: 100px;
   display: flex;
   justify-content: end;
   align-items: end;
    height: 30px;
    font-weight: 300;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}


.formula-bar-container{
    height: 5vh;
    width: 100%;
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 50px;
}

.formula-bar-selected-cell{
    width: 150px;
    height: 70%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 10px;
    outline-color: #107c41;
}
.function-sign{
    width: 50px;
    height: 70%;
    font-size: 16px;
}
.formula-bar{
    display: flex;
    align-items: center;
    
    width: calc(100% - 300px);
    height: 70%;
    border: 1px solid lightgray;
    padding: 0 10px;
    outline-color: #107c41;
}

.selected-icon{
    background-color: lightgray;
}


.input-cell.selected{
    
    /* outline-color: #107c41; */
    border: 2px solid #107c41;
    background-color: rgb(196, 233, 255);

    
}
 /* .top-cell-selected{
    border-top: lightgray; 
 }
  

.bottom-cell-selected{
    border-bottom: lightgray;
   
}
.right-cell-selected{
    border-right: lightgray;
    
}

.left-cell-selected{
    border-left: lightgray;
    
}   */

.bold{
    font-weight: bold;
    font-size: 19px; 
    color: red;  
}
.italic{
    font-style: italic;
}
.underline{
    
    Text-decoration: underline 
    
}
.fill{
    background-color: rgb(247, 154, 250);
}
